/*Globales*/
:root{
    --fuentePrincipal:"Manjari", sans-serif;
    --fuenteSecundaria:"Revalia", sans-serif;
    --grisClaro:rgba(169, 164, 164, 0.641);
    --naranja:#F86C30;
    --blanco:#fff;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
    background: #0c0222;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

button:hover{
    cursor: pointer;
}

/*Mod tirulo y nav*/

header{
    margin: 2rem;
}


.tituloPrincipal{
    
    font-weight: 700;

    color: var(--blanco);
}

.tituloNav{
    font-size: 4rem;
    margin: 0 0 0 1.5rem;
}

.nivelesEncriptado{
    background: var(--blanco);
    padding: 2rem;
    
    border-radius: 5px;
    text-align: center;
}

.nivelEncriptador{
    width: 50rem;
    padding: 1.5rem;
    font-size: 2.5rem;
    margin: 0 3rem 0 3rem;
    background: var(--naranja);
    border-radius: 5px;
    border: none;
    color: var(--blanco);
    transition: .5s all;
}

/*Cuadro de texto*/
.cuadroTexto{
    
    background: var(--blanco);
    width: 60rem;
    height: 43rem;
    padding: 3rem;
    transition: .5s all;
}


#salida{
    height: 33rem;
}
.cuadroTexto:hover, .nivelEncriptador:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.cuadroTexto p{
    opacity: .5;
    font-size: 2.5rem;
}



/*Botones de encriptar y desencriptar*/


.botones{
    display: flex;
    flex-direction: column;

}

.boton{
    width: 50rem;
    padding: 2rem;
    font-size: 2rem;
    background:  var(--blanco);
    border: none;
    transition: .5s all ;
    
}

#encriptar, #desencriptar{
    margin: 2rem;
    border-radius: 10px;
}
#encriptar:hover, #desencriptar:hover{
    background: var(--naranja);
}



#copiar{
    background: var(--naranja);
    border-radius: 10px;
    margin-bottom:3.73rem;
    transition: .5s all;
}

#copiar:hover{
    background-color: var(--grisClaro);
}

/*Centrar cuadros y botones*/

.cuadrosBotones{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 5rem;
}

/*Footer*/

footer{
    background: var(--blanco);
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    padding: 4rem;
}


/*Responsive laptop*/

@media screen and (max-width:1440px){
    
    .nivelEncriptador, .boton{
        width: 30rem;
    }
    .cuadroTexto{
        width: 40rem; 
    }

}

@media screen and (max-width:1280px){
    .tituloPrincipal{
        font-size: 4rem;
    }
    .tituloNav{
        font-size: 2.5rem;
    }
    .nivelEncriptador, .boton{
        width: 25rem;
        font-size: 2rem;

    }
    footer{
        padding: 2rem;
    }
    .cuadroTexto{
        width: 38rem; 
        height: 30rem;
    }
    #salida{
        height: 20rem;
    }
}

/*Responsive Tablet*/
@media screen and (max-width:768px){
    /* .nivelesEncriptado{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    } */

    .tituloPrincipal{
        font-size: 4rem;
    }
    .tituloNav{
        font-size: 2.5rem;
    }
    .nivelEncriptador, .boton{
        width: 15rem;
        font-size: 2rem;

    }
    .cuadrosBotones{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        padding: 2rem;
        
    }
    footer{
        padding: 2rem;
    }
    .cuadroTexto{
        width: 38rem; 
        height: 30rem;
    }
    
    #salida{
        height: 20rem;
    }
    #copiar{
        grid-row: 2/3;
        grid-column: 2/3;
        margin-left: 2rem;
        margin-bottom: 0;
    }
}

/*Responsive celular*/

@media screen and (max-width:390px){
    /* .nivelesEncriptado{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    } */

    .tituloPrincipal{
        font-size: 3rem;
    }
    .tituloNav{
        font-size: 2rem;
    }
    .nivelesEncriptado{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }
    .nivelEncriptador, .boton{
        
        width: 15rem;
        font-size: 1.5rem;

    }
    .cuadrosBotones{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(5%, 50%, 5%, 40%); 
        gap: 1.5rem;
        
    }
    #ingreso, #salida{
        width:35rem;
    }
    .contenedorBotones{
        grid-column: 1/2;
        grid-row: 1/2;
        gap: 1px;
    }
    .contenedorEntrada{
        
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0  auto;
    }
    #copiar{
        width: 80%;
        margin: 0  auto;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .contenedorSalida{
        margin: 0  auto;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    footer{
        padding: 2rem;
    }
    .cuadroTexto{
        width: 30rem; 
        height: 30rem;
    }
    #salida{
        height: 20rem;
    }
    #encriptar, #desencriptar{
        width: 15rem;
    }
    .botones, #copiar{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer{
        position: relative;
    }
    
}

